
  <section class="news_categories">
  <h2>Categories</h2>
  <nav class="categories">
	  <div id="main_select">
		<div id="all_news" class="c_select m_select">
			<a href="/articles" class="nav_link cat_link">All News</a>
		</div>
		<div id="local" class="c_select m_select">
			<a href="/articles/local" class="nav_link cat_link">Local</a>
		</div>
		<div id="country" class="c_select m_select">
			<a href="/articles/country" class="nav_link cat_link">Country</a>	
		</div>
		<div id="continent" class="c_select m_select">
			<a href="/articles/continent" class="nav_link cat_link">Continent</a>
		</div>
		<div id="world"	class="c_select m_select">
			<a href="/articles/world" class="nav_link cat_link">World</a>
		</div>
	  </div>
	  <div id="sub_select">
		<div id="politics" class="s_select c_select">
			<a href="/articles/politics" class="nav_link cat_link">Politics</a>
		</div>
		<div id="economy" class="c_select s_select ">
			<a href="/articles/economy" class="nav_link cat_link">Economy</a>  
		</div>
		<div id="technology" class="c_select s_select">
			<a href="/articles/technology" class="nav_link cat_link">Technology</a>
		</div>
		<div id="science" class="c_select s_select">
			<a href="/articles/science" class="nav_link cat_link">Science</a>
		</div>
		<div id="sports" class="c_select s_select">
			<a href="/articles/sports" class="nav_link cat_link">Sports</a>
		</div>
		<div id="culture" class="c_select s_select">
			<a href="/articles/culture" class="nav_link cat_link">Culture</a>
		</div>
    	<div id="other" class="c_select s_select">
			<a href="/articles/other" class="nav_link cat_link">Other</a>
		</div>
	  </div>
	  <div class="sub_links">
		  <%- include ('../partials/sub_links.ejs') %>
	  </div>
  </nav>
</section>

 <section id="sky_adv">
	<p>Advert</p>
 </section>
	
