    <div class="bottom_container fixed">
      <footer class="bottom">
        YourNews Inc. - copyright &copy; 2020 <div class="bottom_links">
		  - <a class="a_link" href="/faq" title="no-cookies, no-tracking, all-privacy">PrivacyStatement</a> 
		  - <a class="a_link" href="/faq" title="free to use">TermsOfUse</a></div>
      </footer>
    </div>
	<script type="text/javascript" src="/general.js"></script>
  	<script type="text/javascript" src="/advert_database.js"></script>
	<script type="text/javascript" src="/adv_controller.js"></script> 	
  </body>
</html>