<!-- the extra links for the Hamburger Menu, from the main nav and footer -->
<br>
<div class="c_select"><a class="nav_link cat_link" href="/faq">FAQ</a></div>
<div class="c_select"><a class="nav_link cat_link" href="/about">About</a></div>
<div class="c_select"><a class="nav_link cat_link" href="/contact">Contact</a></div>
<br>
<div class="c_select"><a class="nav_link cat_link" href="/faq" title="no-cookies, no-tracking, all-privacy">PrivacyStatement</a></div>
<div class="c_select"><a class="nav_link cat_link" href="/faq" title="free to use">TermsOfUse</a></div>
<br>