
<%- include ('partials/header.ejs') %>
	
	<div id="main_container">

		<div id="container_ham">
			<div id="hamburger_menu">
			<!-- includes the side menu with news categories -->	   
			<%- include ('partials/categories.ejs') %>
			</div>
		</div>	

	</div>

<%- include ('partials/footer.ejs') %>