
<%- include ('partials/header.ejs') %>

<div id="main_container">

 	<div id="container_left">
		<div class="width_limiter_left">
		<!-- includes the side menu with news categories -->	   
		<%- include ('partials/categories.ejs') %>
		</div>
	</div>	

	<div id="container_center">
	  <main>
	    <header class="paper_heading">
    	  <h3>THE NEWS WE SHARE</h3>
    	</header>
   		<section class="normal">
			<div class="form_container small_form">
				
			<!-- this form is set to NOT work, no action no method, see comment below -->	
			<form id="contact" action="" method="" enctype="text/plain">
				<div class="form_design">
				<h4>CONTACT</h4>
					<label for="name">Enter your name: *</label>
					<input type="text" id="name" name="name" placeholder="This form doesn't work" maxlength="50" required/>
					<label for="email">Enter your email: *</label>
					<input type="email" id="email" name="email" placeholder="This form doesn't work" required/>
					<label for="message">Your message: *</label>
			        <textarea form="contact" id="message" name="message" maxlength="550" placeholder="This form doesn't work" required></textarea>
					<label for="human">Select for humans:</label>
					<input type="checkbox" name="human" value="human" required style="display: inline"/>
				</div>
				<input class="ok_btn" type="submit" name="submit" value="SEND"/>	
			</form>	
			</div>
     	</section>			
	  </main>
	</div>
	
	<div id="container_right">
		<div class="width_limiter_right">
		<!-- includes the HOT ratings -->
		<%- include ('partials/ratings.ejs') %>
		</div>
	</div>	

</div>

<!-- These scripts were written to hide the email adress it the contact form,
	but both the methods /get and /post get processed by node. Meaning that
	the form doesn't function like it does when it's just normal html. 
	Aka, the form generates a 404. Scripts are left here for the thorough reader. 

<script type="text/javascript" src="/rpg_data"></script>
<script type="text/javascript" src="/small_rpg"></script> -->


<%- include ('partials/footer.ejs') %>
