*{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2rem;
	color: #000000;
}

main, li, p, h3, h4, h5, h6, a.arti_link, a.hot_link{
    font-family: Courier New, Times New Roman, Courier, Times, monospace;
}

p{
	margin-bottom: 0.5rem;
}

p.sec{
	margin-bottom: 0.1rem;
	font-size: 0.82rem;
	color: #595959;
}

h2{
	color: #595959;
}

h3{
	font-size: 2.5rem;
	line-height: 2.75rem;
	margin: 0.2rem;
}

h4{
	font-size: 1.11rem;
	font-weight: bold;
	margin: 0.3rem 0px 0.5rem 0.01rem;
}

h5{
	font-size: 1.5rem;
	font-weight: bold;
}

h6{
	font-size: 1rem;
	font-weight: bold;
	color: #595959;
	margin: 8px 0px 3px 0px;
}


a:link{text-decoration: none;}
a:hover{text-decoration: underline;}
a:active{text-decoration: underline;}
a:visited{text-decoration: none;}

a.a_link:link {	color: #999999; }
a.a_link:hover { color: #000000; }
a.a_link:visited { color: #999999; }
a.a_link:active { color: #999999; }

a.arti_link:link{font-size: 0.82rem; color: #595959;}
a.arti_link:hover{font-size: 0.82rem; color: #000000;}
a.arti_link:active{font-size: 0.82rem; color: #595959;}
a.arti_link:visited{font-size: 0.82rem; color: #595959;}


a.more{ font-weight: bold; }

